body {
    font-family: "Times New Roman", Times, serif;
    h1 {
        color: grey;
    }
    h2 {
        font-family: Arial, Helvetica, sans-serif;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
    }
    a {
        color: blue;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    ul {
        list-style-type: square;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}