* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0a0f2e;
    color: black;
    text-align: center;
}

nav, .menu, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 48px;
    font-weight: bold;
    border-radius: 20px;
    margin: 10px 0;
}

.header {
    background: black;
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

p{
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    background: black;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    gap: 80px;
}

.body {
    background: grey;
    color: white;
    flex-direction: column;
    font-size: 24px;
    height: 600px; 
}

.footer {
    background: darkgrey;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    height: 80px;
    align-items: center;
    justify-content: center;
}


